node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

testnet-test-account.pkey
testnet-account.pkey
testnet-test-account.pkey
VaultServiceAccount.pkey

.env*